<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='BYE-BYE')"></head>
<body>
<nav th:replace="fragments::menu"></nav>

<div th:if="${errorMaking}">
    <h1>Your form is not submitted because of too many errors. Please check: </h1>
    <ul>
        <li>Did you fill in your name?</li>
        <li>Did you fill in your address?</li>
        <li>Did you fill in your street?</li>
        <li>Did you fill in your house number?</li>
        <li>Did you fill in your postcode? It can be only between 1000 and 9999?</li>
        <li>Did you fill in your community?</li>
    </ul>
<h3>Please try again - choose from menu "mandje" to try input data again, or "brewers" to add more beer in "mandje".</h3>
</div>

<h1 th:if="${bestelBonID} != null">Je winkelwagentje is bevestig als bestelbon <span th:text="${bestelBonID}"></span>.</h1>

</body>
</html>