<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Bier')"></head>
<body>
<!--<script th:src="@{/js/preventDoubleSubmit.js}" defer></script>-->
<nav th:replace="fragments::menu"></nav>

<h1 th:if="${aantalsWithBiers} !=null">Maandje is here</h1>
<table th:if="${aantalsWithBiers} !=null">
    <tr>
        <th>Bier</th>
        <th>Prijs</th>
        <th>Aantal</th>
        <th>Te betalen</th>
    </tr>
    <tr th:each="entry:${aantalsWithBiers}">
        <td th:text="${entry.value.naam}"></td>
        <td th:text="${entry.value.prijs}"></td>
        <td th:text="${entry.key}"></td>
<!--        <td th:text="${}">-->
<!--        <td th:text="{}">-->
    </tr>

</table>
</body>
</html>